//
//  Secrets.xcconfig
//  CapitalOneDemo
//
//  Created by Miguel Ángel Gavito González on 25/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = "65dfb406dc064d7c9e638642279e62ff"
